<nav class="container m-auto p-5">
  <div class="flex items-center justify-between">
    <div class="text-fuchsia-800 text-xl ">
      <span class="text-fuchsia-500 font-bold text-3xl">S</span>tore<span class="text-fuchsia-500 font-bold text-3xl">A</span>pp
    </div>
    <div class="text-white space-x-6">
      <a routerLink="/customers" class="text-white hover:bg-fuchsia-600 bg-fuchsia-500 rounded-full p-2">Customers</a>
      <a routerLink="/billings" class="text-white hover:bg-fuchsia-600 bg-fuchsia-500 rounded-full p-2">Billings</a>
      <a routerLink="/inventory" class="text-white hover:bg-fuchsia-600 bg-fuchsia-500 rounded-full p-2">Inventory</a>
    </div>
  </div>
</nav>
