<div class="container mx-auto p-5">
  <div >
    <div>
      <p class="text-3xl border border-fuchsia-700 text-center  rounded-full">Customers List</p>
    </div>
    <div class="m-2">
      <div class="relative overflow-x-auto border border-fuchsia-700">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">
              ID
            </th>
            <th scope="col" class="px-6 py-3">
              NAME
            </th>
            <th scope="col" class="px-6 py-3">
              PRICE
            </th>
            <th scope="col" class="px-6 py-3">
              QUANTITE
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let p of products._embedded.products" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              {{p.id}}
            </th>
            <td class="px-6 py-4">
              {{p.name}}
            </td>
            <td class="px-6 py-4">
              {{p.price|number}}
            </td>
            <td class="px-6 py-4">
              {{p.quatity}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
