<div class="container mx-auto p-5">
  <div *ngIf="data">
    <div>
      <p class="text-3xl text-fuchsia-800 text-center font-bold bg-teal-600 rounded-full">Customers List</p>
    </div>
    <div class="m-2">
      <div class="relative overflow-x-auto border border-fuchsia-700">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">
              ID
            </th>
            <th scope="col" class="px-6 py-3">
              NAME
            </th>
            <th scope="col" class="px-6 py-3">
              EMAIL
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let c of data._embedded.customers" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              {{c.id}}
            </th>
            <td class="px-6 py-4">
              {{c.name}}
            </td>
            <td class="px-6 py-4">
              {{c.email}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>



  </div>
</div>
